.Navbar {
    background-color: #dcaaee;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    position: relative;
    top: 10;
    width: 100%;
    min-width: 100%;
    overflow: auto;
    z-index: 1;
    
}

.nav-links a {
    font-size: 25px !important;
}

.nav-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-family: "OCR A STd", monospace;
    width: 100%;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 60px;
}

.Navbar .navbar-logo {
    width: 130px;
    height: auto;
}

.Navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Navbar ul li {
    margin: 0 15px;
}

.Navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.Navbar ul li a:hover {
    color: #f6c848;
}

.Footer {
    background-color: #dcaaee;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    text-align: center;
}

.homepage {
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.website-link {
    font-size: 1rem;
    color: #007BFF;
    text-decoration: none;
}

.website-link:hover {
    text-decoration: underline;
}

.delete-btn {
    background: #e8337f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 10px;
}

.delete-btn:hover {
    background: #e73189;
}
 

.edit-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.edit-btn:hover {
    background: #0056b3;
}

.restaurant-item button {
    margin-right: 10px;
}

.map-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

.error-page h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #f33303;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* Target h2 inside HomePage */
.homepage h2 {
    font-family: 'Courier New',
        Courier,
        monospace;
    font-size: 28px;
    font-weight: bold;
    color: #ef9535;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
}


@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
        .map-container {
            height: 300px;
        }
        restaurant-list {
            grid-template-columns: 1fr;
        }
    
        .restaurant-item {
            width: 100%;
        }
}