.Navbar {
    background-color: #dcaaee;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    position: relative;
    top: 10;
    width: 100%;
    min-width: 100%;
    overflow: auto;
    z-index: 1;
    
}

.nav-links a {
    font-size: 25px !important;
}

.nav-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-family: "OCR A STd", monospace;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 60px;
}

.Navbar .navbar-logo {
    width: 130px;
    height: auto;
}

.Navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Navbar ul li {
    margin: 0 15px;
}

.Navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.Navbar ul li a:hover {
    color: #f6c848;
}

.Footer {
    background-color: #dcaaee;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    text-align: center;
}

/* App.css or a new specific CSS file */

.homepage {
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.restaurant-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.restaurant-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.restaurant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.website-link {
    font-size: 1rem;
    color: #007BFF;
    text-decoration: none;
}

.website-link:hover {
    text-decoration: underline;
}

 
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }
}